<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Products List</h2>

        </div>
       
    </div>
    <div class="card mb-4 ">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="table-responsive ">
                    <table class="table table-nowrap ">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Image</th>
                                <th>Product Name</th>
                                <th>Quantity</th>
                                <th>Date & Time</th>
                                <th>Price</th>
                                <th class="text-end">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                    <td>
                                    </td>
                                    <td>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                       
                                    </td>

                                    
                            </tr>

                          
                        </tbody>

                    </table>
                </div>

            </div>
        </div>
        <!-- card-header end// -->
        <!-- card-body end// -->
    </div> <!-- card end// -->

</section>