<header class="header-area header-style-1 header-height-2">
 
    <div class="header-middle header-middle-ptb-1 d-none d-lg-block ">
        <div class="container">
            <div class="header-wrap">
                <div class="logo logo-width-1">
                    <a href="index.html"><img src="assets/imgs/theme/mainlogo1.png" alt="logo"></a>
                </div>
                <div class="header-right">

                    <div class="search-style-2">
                        <form action="#">
                            <input type="text" placeholder="Search for items...">
                        </form>
                    </div>
                    <div class="header-action-right">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="shop-wishlist.html">
                                    <img class="svgInject" alt="Evara" src="assets/imgs/theme/icons/icon-heart.svg">
                                    <!-- <span class="pro-count blue">4</span> -->
                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="/cart">
                                    <img alt="Evara" src="assets/imgs/theme/icons/icon-cart.svg">
                                    <span class="pro-count blue text-white" id="cartCount"><%=locals.count%></span>
                                </a>

                            </div>

                            <div class="btn-group" style="padding-left:2rem ">
                                <%if(locals.users){%>
                                    <a href="/login" class="btn btn-dark dropdown-toggle" type="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <%=users.username%>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="/profile">Profile</a>
                                        <a class="dropdown-item text-danger" href="/logout">Log Out</a>

                                    </div>


                                    <%}else{%>
                                        <a href="/login"><button class="btn btn-success"> Log In</button> </a>

                                        <%}%>
                                            <!-- <img alt="Evara" src="assets/imgs/theme/icons/person.svg"> -->
                                            <!-- <i class="btn btn-success  "><a class="text-white" href="/login">Log In / Sign Up</a></i>  -->
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom header-bottom-bg-color sticky-bar">
        <div class="container">
            <div class="header-wrap header-space-between position-relative">
                <div class="logo logo-width-1 d-block d-lg-none">
                    <a href="index.html"><img src="assets/imgs/theme/logo.svg" alt="logo"></a>
                </div>

                <div class="header-nav d-none d-lg-flex">
                    <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                        <nav>

                            <ul>

                                <li><a class="active" href="/">Home </a>

                                </li>

                                <li><a href="/shop">Shop </a>

                                </li>

                            </ul>
                        </nav>
                    </div>


                </div>


            </div>
        </div>
    </div>
</header>