<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Majestic Garments</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/imgs/theme/M-400.png" />
    <!-- Template CSS -->
    <link rel="stylesheet" href="/assets/css/main.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://unpkg.com/easyinvoice/dist/easyinvoice.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <title>Document</title>
</head>

<body>
    <div class="header-middle header-middle-ptb-1 d-none d-lg-block position-absolute top-0 end-0 ">
        <div class="container">
            <div class="header-wrap">

                <div class="header-right">

                    <div class="header-action-right">


                        <div class="btn-group" style="padding-left:2rem ">
                            <%if(locals?.users){%>
                                <a href="/login" class="btn btn-dark dropdown-toggle" type="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <%=users.username%>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#">Profile</a>
                                    <a class="dropdown-item text-danger" href="/logout">Log Out</a>

                                </div>


                                <%}else{%>
                                    <a href="/login"><button class="btn btn-success"> Log In</button> </a>

                                    <%}%>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="header-bottom header-bottom-bg-color sticky-bar">
        <div class="container">
            <div class="header-wrap header-space-between position-relative">
                <div class="logo logo-width-1 d-block d-lg-none">
                    <a href="/"><img src="assets/imgs/theme/mainlogo1.png" alt="logo"></a>
                </div>

                <div class="header-nav d-none d-lg-flex">
                    <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                        <nav>

                            <ul>

                                <li><a class="active" href="/">Home </a>

                                </li>

                                <li><a href="/shop">Shop </a>

                                </li>

                            </ul>
                        </nav>
                    </div>


                </div>


            </div>
        </div>
    </div>






    <main class="main-wrap">



        <%-body%>




    </main>

    <script src="/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/plugins/slick.js"></script>
    <script src="/assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/assets/js/plugins/wow.js"></script>
    <script src="/assets/js/plugins/jquery-ui.js"></script>
    <script src="/assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="/assets/js/plugins/magnific-popup.js"></script>
    <script src="/assets/js/plugins/select2.min.js"></script>
    <script src="/assets/js/plugins/waypoints.js"></script>
    <script src="/assets/js/plugins/counterup.js"></script>
    <script src="/assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="/assets/js/plugins/images-loaded.js"></script>
    <script src="/assets/js/plugins/isotope.js"></script>
    <script src="/assets/js/plugins/scrollup.js"></script>
    <script src="/assets/js/plugins/jquery.vticker-min.js"></script>
    <script src="/assets/js/plugins/jquery.theia.sticky.js"></script>
    <script src="/assets/js/plugins/jquery.elevatezoom.js"></script>
    <!-- Template  JS -->
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/shop.js"></script>




</body>

</html>