


<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<div class="position-relative top-0 start-50 translate-middle-x " >

<lottie-player src="https://assets8.lottiefiles.com/packages/lf20_jJytd1qcyz.json"  background="transparent"  speed="1"  style="width: 500px; height: 500px; margin-left: 32rem;"  loop  autoplay></lottie-player>
</div>
