<main class="main">

    <section class="pt-150 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <div class="row">
                        <div class="col-lg-5 position-absolute top-50 start-50 translate-middle">
                            <div
                                class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                                <div class="padding_eight_all bg-white">
                                    <div class="heading_s1">
                                        <h3 class="mb-30">Change Password</h3>
                                    </div>


                                    <form method="post" action="/changePassword2" id="form">

                                        <div class="form-group">
                                            <input required="" type="password" id="password" name="password"
                                                onkeyup="validatePassword()" placeholder="Enter the Password">
                                            <p id="passworderror" class="validation-label"></p>

                                        </div>
                                        <div class="form-group">
                                            <input required="" type="password" id="confirmPassword"
                                                name="confirmpassword" onkeyup="validatePassword()"
                                                placeholder="Re-Enter the Password">
                                            <p id="passworderror" class="validation-label"></p>

                                        </div>

                                        <div class="form-group">
                                            <button type="submit" class="btn btn-success btn-block hover-up">Change
                                                Password</button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


<script>

    //validation
    const passwordError = document.getElementById('passworderror')

    function validatePassword() {
        const password = document.getElementById('password').value
        const passwordInput = document.getElementById('password')
        const confirmPassword = document.getElementById('confirmPassword').value
        const confirmPasswordInput = document.getElementById('confirmPassword')


        if (password.length == 0) {
            passwordError.innerHTML = 'Password is required'
            passwordError.style.color = 'red'
            passwordInput.style.border = 'solid 2px red'

            return false

        }
        if (!password.match(/[a-zA-Z]/)) {
            passwordError.innerHTML = 'Password must contain atleast one letter'
            passwordError.style.color = 'red'
            passwordInput.style.border = 'solid 2px red'

            return false
        }
        if (!password.match(/^.{8,}$/)) {
            passwordError.innerHTML = 'Password must contain atleast one number'
            passwordError.style.color = 'red'
            passwordInput.style.border = 'solid 2px red'

            return false

        }
        if (!password.match(/^(?=.*[\W_])[\w\W]/)) {
            passwordError.innerHTML = 'Password must contain atleast one special character'
            passwordError.style.color = 'red'
            passwordInput.style.border = 'solid 2px red'

            return false

        }

        if (password == confirmPassword && password.length != 0) {
            passwordError.innerHTML = "Password Match"
            passwordError.style.color = "green"
            passwordInput.style.border = 'solid 2px green'
            confirmPasswordInput.style.border = "solid 2px green"

            return true
        }

    }

    form.addEventListener('submit', (event) => {
        event.preventDefault()
        if (!validatePassword()) {
            Swal.fire({
                icon: 'error',
                title: 'Enter details correctly!!'
            })
            return false
        } else {
            form.submit()
        }
    })
</script>