<main class="main">

    <section class="pt-150 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <div class="row">
                        <div class="col-lg-5 position-absolute top-50 start-50 translate-middle">
                            <div
                                class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                                <div class="padding_eight_all bg-white">
                                    <div class="heading_s1">
                                        <h3 class="mb-30">Login</h3>
                                    </div>


                                    <form method="post" action="/login" id="form">
                                        <%if(locals.error){%>



                                            <p style="color: red" class="message" id="errorMessage">
                                                <%=error.reason%>
                                            </p>
                                            <%}%>
                                                <div class="form-group">
                                                    <input type="text" required="" id="email" onkeyup="validateEmail()"
                                                        name="email" placeholder="Your Email">
                                                    <p id="emailerror" class="validation-label"></p>

                                                </div>
                                                <div class="form-group">
                                                    <input required="" type="password" id="password"
                                                        onkeyup="validatePassword()" name="password"
                                                        placeholder="Password">
                                                    <p id="passworderror" class="validation-label"></p>

                                                </div>
                                                <div class=" form-group text-end">

                                                    <a class="text-muted " href="/otpLogin2">Forgot password?</a>
                                                </div>
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-success btn-block hover-up"
                                                        name="login">Log in</button>
                                                </div>
                                                <div class="form-group">
                                                    <p class="text-center small text-muted mb-15">or sign up with <a
                                                            href="/otpLogin" class="h6">OTP</a></p>

                                                </div>
                                                <div class="form-group">
                                                    <div class="text-secondary text-center">Don't have account? <a
                                                            href="/signup" class="text-success">Sign Up</a></div>

                                                </div>
                                    </form>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script>

    //hide error msg after the given time
    setTimeout(function () {
        var errorMessage = document.getElementById('errorMessage');
        if (errorMessage) {
            errorMessage.style.display = 'none';
        }
    }, 2000); // Hide after 2 seconds (2000 milliseconds)



    //validation
    const emailError = document.getElementById('emailerror')

    const passwordError = document.getElementById('passworderror')

    function validateEmail() {
        const email = document.getElementById('email').value
        const emailInput = document.getElementById("email")

        if (email.length == 0) {
            emailError.innerHTML = 'Email is Required'
            emailError.style.color = "red"
            emailInput.style.border = "solid 2px red"

            return false

        }
        if (!email.match(/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/)) {
            emailError.innerHTML = 'Email Invalid'
            emailError.style.color = 'red'
            emailInput.style.border = 'solid 2px red'
            return false
        }
        emailError.innerHTML = ''
        emailError.style.color = "green"
        emailInput.style.border = "solid 2px green"

        return true
    }


    function validatePassword() {
        const password = document.getElementById('password').value
        const passwordInput = document.getElementById('password')



        if (password.length == 0) {
            passwordError.innerHTML = 'Password is required'
            passwordError.style.color = 'red'
            passwordInput.style.border = 'solid 2px red'

            return false

        }
        passwordError.innerHTML = ''
        passwordInput.style.border = ''

    }
    form.addEventListener('submit', (event) => {
        event.preventDefault()
        if (!validateEmail() || validatePassword()) {
            Swal.fire({
                icon: 'error',
                title: 'Enter details correctly!!'
            })
            return false
        } else {
            form.submit()
        }
    })


</script>