<!-- <style>
    .p-conf,.n-conf{
      width: 100%;
      height: 20px;
      border-radius: 4px;
      background-color: rgba(0,249,12,0.5);
      display: none;
    }
    .n-conf{
      border-color: red;
      background-color: rgba(255,0,4,0.5);
    }
 </style> -->
<script src="https://www.gstatic.com/firebasejs/9.12.1/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.12.1/firebase-auth-compat.js"></script>

<main class="main">


    <section class="pt-150 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <div class="row">


                        <div class="col-lg-6 position-absolute top-50 start-50 translate-middle">
                            <div class="login_wrap widget-taber-content p-30 background-white border-radius-5">
                                <div class="padding_eight_all bg-white">
                                    <div class="heading_s1">
                                        <h3 class="mb-30">Create an Account</h3>
                                    </div>
                                    <!-- message -->
                                    <div>
                                        <%if(locals.error){%>



                                            <p style="color: red" class="message" id="errorMessage">
                                                <%=error.reason%>
                                            </p>
                                            <%}%>
                                    </div>

                                    <div class="p-conf text-center"
                                        style="border-color: red; background-color: rgba(255,0,4,0.5); display: none; ">
                                        OTP ERROR</div>

                                    <div class="n-conf text-center" style=" width: 100%;
                                    height: 20px;
                                    border-radius: 4px;
                                    background-color: rgba(0,249,12,0.5);
                                    display: none;">NUMBER VERIFIED </div>
                                    <!-- message end -->
                                    <!-- <p class="mb-50 font-sm">
                                            Your personal data will be used to support your experience throughout this website, to manage access to your account, and for other purposes described in our privacy policy
                                        </p> -->
                                    <form method="post" action="/signup" id="form">
                                        <div class="form-group">
                                            <input type="text" required="" id="name" name="username"
                                                onkeyup="validateName()" placeholder="Username">
                                            <p id="nameerror" class="validation-label"></p>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" required="" id="email" name="email"
                                                onkeyup="validateEmail()" placeholder="Email">
                                            <p id="emailerror" class="validation-label"></p>

                                        </div>
                                        <div class="form-group">
                                            <input required="" type="password" id="password" name="password"
                                                onkeyup="validatePassword()" placeholder="Password">
                                            <p id="passworderror" class="validation-label"></p>

                                        </div>
                                        <div class="form-group">
                                            <input required="" type="password" id="confirmPassword"
                                                onkeyup="validatePassword()" name="confirmpassword"
                                                placeholder="Confirm password">
                                            <p id="confirmpassworderror" class="validation-label"></p>

                                        </div>
                                        <div class="mb-2">
                                            <div class="form-group">
                                                <input class="form-control" name="phone"
                                                    placeholder="Enter phone number" onkeyup="validatePhone()"
                                                    type="number" id="phone" />


                                                <button style="width: 140px; background-color:rgb(0, 0, 0)"
                                                    type="button" class="btn btn-primary " id="send"
                                                    onclick="phoneAuth()">
                                                    <b>Get OTP</b>
                                                </button>

                                            </div>
                                            <p id="phonenumbererror" class="validation-label">
                                            </p>
                                        </div>
                                        <div id="recaptcha-container"></div>
                                        <div class="mb-2">
                                            <div class="form-group ">
                                                <input class="form-control" name="Phone" placeholder="Enter OTP"
                                                    type="text" id="otp" />
                                                <button style="width: 140px; background-color: rgb(0, 174, 255)"
                                                    type="button" class="btn btn-primary text-right" id="send"
                                                    onclick="codeverify()">
                                                    <b>Verify OTP</b>
                                                </button>
                                            </div>
                                        </div>


                                        <!-- <a href="page-privacy-policy.html"><i class="fi-rs-book-alt mr-5 text-muted"></i>Lean more</a> -->
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-fill-out btn-block hover-up"
                                        name="login">Submit &amp; Register</button>
                                </div>
                                </form>
                                <!-- <div class="divider-text-center mt-15 mb-15">
                                            <span> or</span>
                                        </div> -->
                                <!-- <ul class="btn-login list_none text-center mb-15">
                                            <li><a href="#" class="btn btn-facebook hover-up mb-lg-0 mb-sm-4">Login With Facebook</a></li>
                                            <li><a href="#" class="btn btn-google hover-up">Login With Google</a></li>
                                        </ul> -->
                                <div class="text-secondary text-center">Already have an account? <a href="/login"
                                        class="text-success">Sign in now</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
</main>


<!-- add SDK firebase -->
<script>
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    const firebaseConfig = {
        apiKey: "AIzaSyCKpqhKaVpCSHO4MkpODbgnkmDkTFjBgKg",
        authDomain: "theurbanlane-f9ed8.firebaseapp.com",
        projectId: "theurbanlane-f9ed8",
        storageBucket: "theurbanlane-f9ed8.appspot.com",
        messagingSenderId: "404488282481",
        appId: "1:404488282481:web:3c3920b9a7f0b9601556d0",
        measurementId: "G-204GRMSKG9"

    };
    firebase.initializeApp(firebaseConfig);
    // render recaptcha verifier

    function render() {
        window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier('recaptcha-container');
        recaptchaVerifier.render();
    }

    function phoneAuth() {
        let number = document.getElementById('phone').value;
        console.log(number)
        let phoneNumber = "+91" + number;
        render();
        firebase.auth().signInWithPhoneNumber(phoneNumber, window.recaptchaVerifier).then(function (confirmationResult) {
            window.confirmationResult = confirmationResult;
            coderesult = confirmationResult;
            console.log('OTP Sent');
        }).catch(function (error) {
            // error in sending OTP
            console.log(error.message);
        });
    }


    // function for code varification
    // ...

    // Function for code verification
    function codeverify() {
        const code = document.getElementById('otp').value;
        confirmationResult.confirm(code)
            .then(function (result) {
                // Phone number verified successfully
                document.getElementsByClassName('p-conf')[0].style.display = 'block';
                document.getElementsByClassName('n-conf')[0].style.display = 'none';

                // Enable the submit button
                document.getElementById('submit-btn').removeAttribute('disabled');
            })
            .catch(function (error) {
                // Invalid verification code
                document.getElementsByClassName('p-conf')[0].style.display = 'none';
                document.getElementsByClassName('n-conf')[0].style.display = 'block';

                // Disable the submit button
                document.getElementById('submit-btn').setAttribute('disabled', 'disabled');
            });
    }



    //validation//
    const nameError = document.getElementById('nameerror')

    const emailError = document.getElementById('emailerror')

    const passwordError = document.getElementById('passworderror')

    const confirmPassword = document.getElementById('confirmPassword')

    const phoneNumberError = document.getElementById('phonenumbererror')





    const validateName = () => {
        const name = document.getElementById('name').value
        const nameInput = document.getElementById('name')

        if (name.length == 0) {
            nameError.innerHTML = 'Name is Required'
            nameError.style.color = 'red'
            nameInput.style.border = 'solid 2px red'

            return false
        }
        if (!name.match(/^[A-Za-z]{3,}$/)) {
            nameError.innerHTML = 'Write Valid Name'
            nameError.style.color = 'red'
            nameInput.style.border = 'solid 2px red'

            return false
        }
        nameError.innerHTML = ''
        nameError.style.color = "green"
        nameInput.style.border = 'solid 2px green'

        return true
    }

    function validateEmail() {
        const email = document.getElementById('email').value
        const emailInput = document.getElementById("email")

        if (email.length == 0) {
            emailError.innerHTML = 'Email is Required'
            emailError.style.color = "red"
            emailInput.style.border = "solid 2px red"

            return false

        }
        if (!email.match(/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/)) {
            emailError.innerHTML = 'Email Invalid'
            emailError.style.color = 'red'
            emailInput.style.border = 'solid 2px red'
            return false
        }
        emailError.innerHTML = ''
        emailError.style.color = "green"
        emailInput.style.border = "solid 2px green"

        return true
    }





    function validatePassword() {
        const password = document.getElementById('password').value
        const passwordInput = document.getElementById('password')
        const confirmPassword = document.getElementById('confirmPassword').value
        const confirmPasswordInput = document.getElementById('confirmPassword')


        if (password.length == 0) {
            passwordError.innerHTML = 'Password is required'
            passwordError.style.color = 'red'
            passwordInput.style.border = 'solid 2px red'

            return false

        }
        if (!password.match(/[a-zA-Z]/)) {
            passwordError.innerHTML = 'Password must contain atleast one letter'
            passwordError.style.color = 'red'
            passwordInput.style.border = 'solid 2px red'

            return false
        }
        if (!password.match(/^.{8,}$/)) {
            passwordError.innerHTML = 'Password must contain atleast one number'
            passwordError.style.color = 'red'
            passwordInput.style.border = 'solid 2px red'

            return false

        }
        if (!password.match(/^(?=.*[\W_])[\w\W]/)) {
            passwordError.innerHTML = 'Password must contain atleast one special character'
            passwordError.style.color = 'red'
            passwordInput.style.border = 'solid 2px red'

            return false

        }

        if (password == confirmPassword && password.length != 0) {
            passwordError.innerHTML = "Password Match"
            passwordError.style.color = "green"
            passwordInput.style.border = 'solid 2px green'
            confirmPasswordInput.style.border = "solid 2px green"

            return true
        }

    }

    function validatePhone() {

        const phone = document.getElementById('phone').value
        const phoneInput = document.getElementById('phone')

        if (phone.length == 0) {
            phoneNumberError.innerHTML = 'Phone number required'
            phoneNumberError.style.color = 'red'
            phoneInput.style.border = 'solid 2px red'

            return false
        }
        if (!phone.match(/^\d{10}$/)) {
            phoneNumberError.innerHTML = 'Enter valid number'
            phoneNumberError.style.color = 'red'
            phoneInput.style.border = 'solid 2px red'

            return false
        }
        phoneNumberError.innerHTML = "";
        phoneNumberError.style.color = "green";
        phoneInput.style.border = "solid 2px green";
        return true;
    }



    form.addEventListener('submit', (event) => {
        event.preventDefault()
        if (!validateName() || !validateEmail() || !validatePassword() || !validatePhone()) {
            Swal.fire({
                icon: 'error',
                title: 'Enter details correctly!!'
            })
            return false
        } else {
            form.submit()
        }
    })



</script>